# Folders to ignore
# ----------------------------------------------------------------------
.idea/
.vscode/
build/
node_modules/
review/

# Files to ignore
# ----------------------------------------------------------------------
package-lock.json
